Source: micmac
Section: non-free/science
Priority: extra
Maintainer: Romain Janvier <romain.janvier@univ-orleans.fr>
Build-Depends: debhelper (>= 9.0.0), 
 cmake (>= 2.8.1),
 mercurial,
 libx11-dev,
 libqt5widgets5,
 libqt5concurrent5,
 libqt5xml5,
 libqt5opengl5-dev,
 bash-completion
Standards-Version: 3.9.5
Homepage: http://logiciels.ign.fr/?-Micmac,3-
Vcs-Git: git://github.com/archeos/micmac-archeos.git
Vcs-Browser: https://github.com/archeos/micmac-archeos/

Package: micmac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, make, imagemagick, exiv2, libimage-exiftool-perl, proj-bin
Description: Photogrammetry in geographic context
 This package include photogrammetric command line tools from IGN 
 (www.ign.fr).
 They were primarily designed to create a complete pipeline for long range
 photogrammetry area (DEM, DTM, orthophotos...) but they are also powerful
 and versatile enough to adapts themselves to archaeological and cultural
 heritage contexts.
 .
 While other open Source SFM/IBR software come more from Computer Vision 
 background, IGN's pipeline come from Photogrammetry area. As a  result, it
 should be more exigent and less easy-to-use, but it offer wider 
 possibilities and much more features (georeferencing, ortophotos, 
 distortion models for fish-eyes...). 
 MicMac is notably fluent on quasi planar scene.
 .
 MicMac suite was initialy designed as research tool and targeted 
 laboratories. Performance and user experience were not the main goals.
 But since 2012 MicMac is under more heavy development and this may lead
 to major changes in terms of performances and usability.
 .
 This sofware is Open Source and is licensed under CeCILL-B, a French 
 adaptation of the BSD licence. 
 But PLEASE NOTE that this package contains an implementation of the SIFT 
 algorithm which is patented. It also include several libraries that are 
 NOT FREE for commercial use. 
 Please refer to the copyright file included in this package for further
 information. 
