#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1
NPROCS:=$(shell grep -c ^processor /proc/cpuinfo)
export DEB_BUILD_OPTIONS=parallel=$(NPROCS)

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DDEPLOY=1 \
		-DBUILD_PATH_BIN="/usr/bin" \
		-DWITH_OPEN_MP=1 \
		-DBUILD_POISSON=1 \
		-DWITH_QT5=1

override_dh_auto_install:
	dh_auto_install
	dh_bash-completion

